[gcode_macro DELTA_ANALYZE_ENHANCED]
description: Run Klipper enhanced delta calibration from preset measurements

gcode:
  ; CENTER_DISTS=<a_dist>,<far_c_dist>,<b_dist>,<far_a_dist>,<c_dist>,<far_b_dist>
  DELTA_ANALYZE CENTER_DISTS=74.11,74.33,73.74,74.37,74.13,73.58
  
  ; OUTER_DISTS=<a_to_far_c>,<far_c_to_b>,<b_to_far_a>,<far_a_to_c>,<c_to_far_b>,<far_b_to_a>
  DELTA_ANALYZE OUTER_DISTS=73.62,74.21,74.05,73.66,74.08,74.52
  
  ; CENTER_PILLAR_WIDTHS=<a>,<b>,<c>
  DELTA_ANALYZE CENTER_PILLAR_WIDTHS=9.03,8.92,8.97
  
  ; OUTER_PILLAR_WIDTHS=<a>,<far_c>,<b>,<far_a>,<c>,<far_b>
  DELTA_ANALYZE OUTER_PILLAR_WIDTHS=8.91,9.07,9.19,9.08,8.93,9.03

  ; Enter the scaling used on the stl file.
  DELTA_ANALYZE SCALE=1.0

  DELTA_ANALYZE CALIBRATE=extended
