[gcode_macro DELTA_ANALYZE_ENHANCED]
description: Run Klipper enhanced delta calibration from preset measurements

gcode:
  ; CENTER_DISTS=<a_dist>,<far_c_dist>,<b_dist>,<far_a_dist>,<c_dist>,<far_b_dist>
  DELTA_ANALYZE CENTER_DISTS=73.95,73.89,73.29,73.98,73.67,73.35
  
  ; OUTER_DISTS=<a_to_far_c>,<far_c_to_b>,<b_to_far_a>,<far_a_to_c>,<c_to_far_b>,<far_b_to_a>
  DELTA_ANALYZE OUTER_DISTS=73.32,73.82,73.72,73.30,74.06,73.93
  
  ; CENTER_PILLAR_WIDTHS=<a>,<b>,<c>
  DELTA_ANALYZE CENTER_PILLAR_WIDTHS=8.93,8.86,8.86
  
  ; OUTER_PILLAR_WIDTHS=<a>,<far_c>,<b>,<far_a>,<c>,<far_b>
  DELTA_ANALYZE OUTER_PILLAR_WIDTHS=8.86,8.86,8.87,8.88,8.82,9.01

  ; Enter the scaling used on the stl file.
  DELTA_ANALYZE SCALE=1.0

  DELTA_ANALYZE CALIBRATE=extended
