# This file contains common pin mappings for the BIGTREETECH SKR Pico V1.0.
# To use this config, the firmware should be compiled for the RP2040 with
# USB communication.

# See docs/Config_Reference.md for a description of parameters.

# [include accelerometer.cfg]

[stepper_a]
step_pin: gpio11
dir_pin: !gpio10
enable_pin: !gpio12
microsteps: 16
full_steps_per_rotation: 200
rotation_distance: 32
endstop_pin: ^gpio4
#position_endstop: 247 # 245.5 
#arm_length: 208.1
homing_speed: 100
second_homing_speed: 5
homing_retract_dist: 5

[tmc2209 stepper_a]
uart_pin: gpio9
tx_pin: gpio8
uart_address: 0
run_current: 0.600
stealthchop_threshold: 999999

[stepper_b]
step_pin: gpio6
dir_pin: !gpio5
enable_pin: !gpio7
microsteps: 16
full_steps_per_rotation: 200
rotation_distance: 32
endstop_pin: ^gpio3

[tmc2209 stepper_b]
uart_pin: gpio9
tx_pin: gpio8
uart_address: 2
run_current: 0.600
stealthchop_threshold: 999999

[stepper_c]
step_pin: gpio19
dir_pin: !gpio28
enable_pin: !gpio2
microsteps: 16
full_steps_per_rotation: 200
rotation_distance: 32
endstop_pin: ^gpio25

[tmc2209 stepper_c]
uart_pin: gpio9
tx_pin: gpio8
uart_address: 1
run_current: 0.600
stealthchop_threshold: 999999

[probe]
pin: ^!gpio22
x_offset: 0
y_offset: 0
#z_offset: 20.0
speed: 2
lift_speed: 15
samples: 5
samples_result: median
samples_tolerance: 0.02
samples_tolerance_retries: 5

[extruder]
step_pin: gpio14
dir_pin: gpio13
enable_pin: !gpio15
microsteps: 16
full_steps_per_rotation: 200
gear_ratio: 44:10, 37:17
rotation_distance: 53.5
filament_diameter: 1.750
nozzle_diameter: 0.4
heater_pin: gpio23
sensor_type: ATC Semitec 104NT-4-R025H42G
sensor_pin: gpio27
#control: pid
#pid_Kp: 22.2
#pid_Ki: 1.08
#pid_Kd: 114
max_power: 1.0
min_temp: 0
max_temp: 265
pressure_advance: 0.22
pressure_advance_smooth_time: 0.02

[tmc2209 extruder]
uart_pin: gpio9
tx_pin: gpio8
uart_address: 3
run_current: 1.000
stealthchop_threshold: 999999

[filament_switch_sensor filament_runout]
switch_pin: ^gpio16
pause_on_runout: True
runout_gcode: FILAMENT_RUNOUT

[filament_motion_sensor filament_motion]
# Assumes the motion sensor is wired to the free BLTouch servo pin.
switch_pin: ^gpio24
extruder: extruder
detection_length: 20
pause_on_runout: True
event_delay: 3.0
runout_gcode: FILAMENT_RUNOUT

[heater_bed]
heater_pin: gpio21
sensor_type: Honeywell 100K 135-104LAG-J01
sensor_pin: gpio26
#control: pid
#pid_Kp: 22.2
#pid_Ki: 1.08
#pid_Kd: 114
min_temp: 0
max_temp: 110

[heater_fan hotend_fan]
pin: gpio18
heater: extruder
heater_temp: 60.0
fan_speed: 1.0

[fan]
pin: gpio17
cycle_time: 0.01
kick_start_time: 0.5
off_below: 0.20

[mcu]
serial: /dev/serial/by-id/usb-Klipper_rp2040_504434040857451C-if00

[printer]
kinematics: delta
#delta_radius: 102.7
minimum_z_position: -5
print_radius: 110.0
max_velocity: 200
max_accel: 10000
max_z_velocity: 200
max_z_accel: 5000
square_corner_velocity: 5.0
minimum_cruise_ratio: 0.3

[input_shaper]
#shaper_type: ei
#shaper_freq_x: 38
#shaper_freq_y: 38

[delta_calibrate]
radius: 85
horizontal_move_z: 20
points:
  # center
   0.000,   0.000

  # inner ring r=55 (6 points, 60° spacing)
   55.000,   0.000       # 0°
   27.500,  47.631       # 60°
  -27.500,  47.631       # 120°
  -55.000,   0.000       # 180°
  -27.500, -47.631       # 240°
   27.500, -47.631       # 300°

  # outer ring r=85 (6 points, 60° spacing)
   85.000,   0.000       # 0°
   42.500,  73.612       # 60°
  -42.500,  73.612       # 120°
  -85.000,   0.000       # 180°
  -42.500, -73.612       # 240°
   42.500, -73.612       # 300°
   
[bed_mesh]
speed: 80
horizontal_move_z: 20
mesh_radius: 85
mesh_origin: 0,0
round_probe_count: 9
algorithm: bicubic
fade_start: 0.2
fade_end: 1.0

[gcode_arcs]
resolution: 0.5

[temperature_sensor pico]
sensor_type: temperature_mcu

# Mainsail client macro customization.
# Source defaults live in /home/anthony/mainsail-config/mainsail.cfg (symlink to client.cfg).
[gcode_macro _CLIENT_VARIABLE]
variable_use_custom_pos   : True  # park at the provided X/Y below
variable_custom_park_x    : 0.0   # delta: center is usually safest
variable_custom_park_y    : 0.0
variable_custom_park_dz   : 10.0  # lift on pause/cancel (mm)
variable_retract          : 1.0   # retract while PAUSE (mm)
variable_cancel_retract   : 5.0   # retract while CANCEL_PRINT (mm)
variable_speed_retract    : 35.0  # retract speed (mm/s)
variable_unretract        : 1.0   # unretract while RESUME (mm)
variable_speed_unretract  : 35.0  # unretract speed (mm/s)
variable_speed_hop        : 15.0  # Z hop speed (mm/s)
variable_speed_move       : 100.0 # move speed (mm/s)
variable_park_at_cancel   : True  # park toolhead on cancel
variable_park_at_cancel_x : 0.0
variable_park_at_cancel_y : 0.0
variable_use_fw_retract   : False # requires [firmware_retraction] when True
variable_idle_timeout     : 0     # 0 = don't override idle_timeout during PAUSE
variable_runout_sensor    : "filament_switch_sensor filament_runout"
variable_user_pause_macro : ""
variable_user_resume_macro: ""
variable_user_cancel_macro: ""
gcode:
  G4 P0

[exclude_object]

[include delta_analyze_enhanced.cfg]

[include macros.cfg]

[include /home/anthony/mainsail-config/mainsail.cfg]

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 38.895
#*# pid_ki = 4.549
#*# pid_kd = 83.138
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 73.750
#*# pid_ki = 1.459
#*# pid_kd = 932.011
#*#
#*# [printer]
#*# delta_radius = 102.354957
#*#
#*# [stepper_a]
#*# angle = 210.024993
#*# arm_length = 208.100000
#*# position_endstop = 248.036407
#*#
#*# [stepper_b]
#*# angle = 330.057902
#*# arm_length = 208.100000
#*# position_endstop = 251.130608
#*#
#*# [stepper_c]
#*# angle = 90.000000
#*# arm_length = 208.100000
#*# position_endstop = 247.184711
#*#
#*# [probe]
#*# z_offset = 16.005
#*#
#*# [input_shaper]
#*# shaper_type_x = mzv
#*# shaper_freq_x = 54.6
#*# shaper_type_y = mzv
#*# shaper_freq_y = 58.4
#*#
#*# [delta_calibrate]
#*# height0 = 16.005
#*# height0_pos = 46419.000,47032.000,46246.000
#*# height1 = 16.005
#*# height1_pos = 54335.000,43475.000,47952.000
#*# height2 = 16.005
#*# height2_pos = 54347.000,48723.000,42695.000
#*# height3 = 16.005
#*# height3_pos = 48129.000,54940.000,42690.000
#*# height4 = 16.005
#*# height4_pos = 42871.000,54962.000,47950.000
#*# height5 = 16.005
#*# height5_pos = 42856.000,48744.000,54160.000
#*# height6 = 16.005
#*# height6_pos = 48107.000,43480.000,54160.000
#*# height7 = 16.005
#*# height7_pos = 62148.000,42921.000,50489.000
#*# height8 = 16.005
#*# height8_pos = 62174.000,51251.000,42146.000
#*# height9 = 16.005
#*# height9_pos = 50663.000,62740.000,42131.000
#*# height10 = 16.005
#*# height10_pos = 42312.000,62781.000,50477.000
#*# height11 = 16.005
#*# height11_pos = 42304.000,51292.000,61981.000
#*# height12 = 16.005
#*# height12_pos = 50646.000,42941.000,61988.000
