# This file contains common pin mappings for Smoothieboard. To use
# this config, the firmware should be compiled for the LPC176x.

# See docs/Config_Reference.md for a description of parameters.

# [include accelerometer.cfg]

[stepper_a]
step_pin: P2.0
dir_pin: P0.5
enable_pin: !P0.4
microsteps: 32
full_steps_per_rotation: 200
rotation_distance: 32
endstop_pin: P1.25
#position_endstop: 247 # 245.5 
#arm_length: 208.1
homing_speed: 100
second_homing_speed: 5
homing_retract_dist: 5

[stepper_b]
step_pin: P2.1
dir_pin: P0.11
enable_pin: !P0.10
microsteps: 32
full_steps_per_rotation: 200
rotation_distance: 32
endstop_pin: P1.27

[stepper_c]
step_pin: P2.2
dir_pin: P0.20
enable_pin: !P0.19
microsteps: 32
full_steps_per_rotation: 200
rotation_distance: 32
endstop_pin: P1.29

[probe]
pin: ^!P1.24
x_offset: 0
y_offset: 0
#z_offset: 20.0
speed: 5
lift_speed: 15
samples: 5
samples_result: median

[extruder]
step_pin: P2.3
dir_pin: !P0.22
enable_pin: !P0.21
microsteps: 32
full_steps_per_rotation: 200
rotation_distance: 22.73
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: P2.7
sensor_type: ATC Semitec 104NT-4-R025H42G
sensor_pin: P0.23
#control: pid
#pid_Kp: 22.2
#pid_Ki: 1.08
#pid_Kd: 114
max_power: 1.0
min_temp: 0
max_temp: 250
pressure_advance: 0.28
pressure_advance_smooth_time: 0.04

[filament_switch_sensor filament_runout]
switch_pin: ^P1.26
pause_on_runout: True

[filament_motion_sensor filament_motion]
switch_pin: ^P1.28
extruder: extruder
detection_length: 7.0
pause_on_runout: True
event_delay: 3.0

[heater_bed]
heater_pin: P2.5
sensor_type: Honeywell 100K 135-104LAG-J01
sensor_pin: P0.24
#control: pid
#pid_Kp: 22.2
#pid_Ki: 1.08
#pid_Kd: 114
min_temp: 0
max_temp: 110

[heater_fan hotend_fan]
pin: P2.6
heater: extruder
heater_temp: 60.0
fan_speed: 1.0

[fan]
pin: P2.4

[mcu]
serial: /dev/serial/by-id/usb-Klipper_lpc1768_0A20000FC3A0BBAE6D46FA554C2100F5-if00

[printer]
kinematics: delta
#delta_radius: 102.7
minimum_z_position: -5
print_radius: 110.0
max_velocity: 200
max_accel: 10000
max_z_velocity: 200
max_z_accel: 5000
square_corner_velocity: 5.0
minimum_cruise_ratio: 0.3

[input_shaper]
#shaper_type: ei
#shaper_freq_x: 38
#shaper_freq_y: 38

[delta_calibrate]
radius: 95
horizontal_move_z: 30

[static_digital_output leds]
pins: P1.18, P1.19, P1.20, P1.21, P4.28

[mcp4451 stepper_digipot1]
i2c_address: 44
# Scale the config so that wiper values can be specified in amps.
scale: 2.25
# wiper 0 is X (aka alpha), 1 is Y, 2 is Z, 3 is E0
wiper_0: 0.9
wiper_1: 0.9
wiper_2: 0.9
wiper_3: 1.2

# [mcp4451 stepper_digipot2]
# i2c_address: 45
# scale: 2.25
# # wiper 0 is E1
# wiper_0: 1.2

# "RepRapDiscount 128x64 Full Graphic Smart Controller" type displays
[display]
lcd_type: st7920
cs_pin: P0.16
sclk_pin: P0.15
sid_pin: P0.18
encoder_pins: ^P3.25, ^P3.26
click_pin: ^!P1.30

# Mainsail client macro customization.
# Source defaults live in ../../mainsail-config/mainsail.cfg (symlink to client.cfg).
[gcode_macro _CLIENT_VARIABLE]
variable_use_custom_pos   : True  # park at the provided X/Y below
variable_custom_park_x    : 0.0   # delta: center is usually safest
variable_custom_park_y    : 0.0
variable_custom_park_dz   : 10.0  # lift on pause/cancel (mm)
variable_retract          : 1.0   # retract while PAUSE (mm)
variable_cancel_retract   : 5.0   # retract while CANCEL_PRINT (mm)
variable_speed_retract    : 35.0  # retract speed (mm/s)
variable_unretract        : 1.0   # unretract while RESUME (mm)
variable_speed_unretract  : 35.0  # unretract speed (mm/s)
variable_speed_hop        : 15.0  # Z hop speed (mm/s)
variable_speed_move       : 100.0 # move speed (mm/s)
variable_park_at_cancel   : True  # park toolhead on cancel
variable_park_at_cancel_x : 0.0
variable_park_at_cancel_y : 0.0
variable_use_fw_retract   : False # requires [firmware_retraction] when True
variable_idle_timeout     : 0     # 0 = don't override idle_timeout during PAUSE
variable_runout_sensor    : "filament_switch_sensor filament_runout"
variable_user_pause_macro : ""
variable_user_resume_macro: ""
variable_user_cancel_macro: ""
gcode:
  G4 P0

[include ../../mainsail-config/mainsail.cfg]

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 33.919
#*# pid_ki = 3.375
#*# pid_kd = 85.220
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 70.853
#*# pid_ki = 1.331
#*# pid_kd = 943.229
#*#
#*# [printer]
#*# delta_radius = 103.173856
#*#
#*# [stepper_a]
#*# angle = 210.022808
#*# arm_length = 208.100000
#*# position_endstop = 241.299398
#*#
#*# [stepper_b]
#*# angle = 329.762165
#*# arm_length = 208.100000
#*# position_endstop = 245.191455
#*#
#*# [stepper_c]
#*# angle = 90.000000
#*# arm_length = 208.100000
#*# position_endstop = 242.323014
#*#
#*# [probe]
#*# z_offset = 24.330
#*#
#*# [input_shaper]
#*# shaper_type_x = mzv
#*# shaper_freq_x = 45.6
#*# shaper_type_y = mzv
#*# shaper_freq_y = 48.6
#*#
#*# [delta_calibrate]
#*# height0 = 24.33
#*# height0_pos = 43361.000,44168.000,43631.000
#*# height1 = 24.33
#*# height1_pos = 54820.000,55667.000,38202.000
#*# height2 = 24.33
#*# height2_pos = 42545.000,62734.000,42802.000
#*# height3 = 24.33
#*# height3_pos = 38152.000,53588.000,53101.000
#*# height4 = 24.33
#*# height4_pos = 42060.000,42847.000,55703.000
#*# height5 = 24.33
#*# height5_pos = 51036.000,39184.000,51319.000
#*# height6 = 24.33
#*# height6_pos = 58310.000,43061.000,42491.000
